body {
	font-family: sans-serif;
}

h1 .firsthalf {
	color: #0063DC;
}

h1 .secondhalf {
	color: #FF0084;
}

fieldset {
	border: 0px;
}

#account_controls {
	float: right;
}

#footer {
	margin-top: 2em;
	font-size: smaller;
	color: gray;
}