<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>FlakyDate Photo Upload Date Changer</title>
	<link href="{{ MEDIA_URL }}flick/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
	<link href="{{ MEDIA_URL }}style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ MEDIA_URL }}/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/jquery-ui-1.8.16.custom.min.js"></script>
	{% block extrahead %}{% endblock %}
</head>
<body>
<div id="page">
	<div id="header"><h1><span class="firsthalf">Flaky</span><span class="secondhalf">Date</span></h1></div>
	{% if session.token %}<div id="account_controls"><a href="{% url flickrdatechanger.views.flickr_logout %}">Log Out</a></div>{% endif %}
	{% block content %}{% endblock %}
</div>
</body>
</html>